VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Paystack Configuration
VITE_PAYSTACK_PUBLIC_KEY=pk_test_6a63edf615e22d386c9de31ff0c445ec00f12c71
VITE_PAYSTACK_SECRET_KEY=sk_test_e33edb0722a842a8a811c71e3a32a1e594538d70
